<div class="row">
  <div class="col-lg-9 col-12 mx-auto">
    <div class="card card-body mt-4">
      <form action="/payroll/add" method="POST">
        <h6 class="mb-0">New Payroll</h6>
        <p class="text-sm mb-0">Create new Payroll</p>
        <hr class="horizontal dark my-3">
        <label for="projectName" class="form-label">Name</label>
        <select name="employee" id="employee" class="form-control choices-multiple-remove-button">
          <% employees.forEach(employee => { %>
          <option value="<%= employee._id %>"><%= employee.name %></option>
          <% }) %>
        </select>

        <div class="row">
          <div class="col-6">
            <label class="form-label">Pay Period</label>
            <input class="form-control datetimepicker" name="payPeriod" placeholder="yyyy-dd-mm" type="date" required>
          </div>
          <div class="col-6">
            <label class="form-label">Basic Salary</label>
            <input type="number" name="basicSalary" class="form-control" placeholder="IDR. xxx.xxx.xxx" required>
          </div>
        </div>

        <div class="row">
          <div class="col-6">
            <label class="form-label">Allowance</label>
            <input type="number" name="allowance" class="form-control" placeholder="IDR. xxx.xxx.xxx" required>
          </div>
          <div class="col-6">
            <label class="form-label">Deductions</label>
            <input type="number" name="deductions" class="form-control" placeholder="IDR. xxx.xxx.xxx" required>
          </div>
        </div>

        <div class="d-flex justify-content-end mt-4">
          <button type="button" name="button" class="btn btn-light m-0">Cancel</button>
          <button type="submit" name="button" class="btn bg-gradient-info m-0 ms-2">Create Payroll</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script src="https://cdn.ckeditor.com/4.16.2/standard/ckeditor.js"></script>
<script src="/public/assets/js/plugins/choices.min.js"></script>
<script src="/public/assets/js/plugins/quill.min.js"></script>
<script src="/public/assets/js/plugins/flatpickr.min.js"></script>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    if (document.querySelector('.datetimepicker')) {
      flatpickr('.datetimepicker', {
        allowInput: true
      });
    }

    const choiceElements = document.querySelectorAll('.choices-multiple-remove-button');
    choiceElements.forEach(element => {
      new Choices(element, {
        removeItemButton: true
      });
    });
  });

  CKEDITOR.replace('description');
</script>