<div class="row">
  <div class="col-lg-9 col-12 mx-auto">
    <div class="card card-body mt-4">
      <h6 class="mb-0">New Permission</h6>
      <p class="text-sm mb-0">Create new Permission</p>
      <hr class="horizontal dark my-3">
      <form action="/permission/add" method="POST">
        <label class="form-label">Permission Name</label>
        <input type="text" name="name" class="form-control" id="name" placeholder="Name" required>

        <label class="mt-4 form-label">Guard Name</label>
        <input type="text" name="guardName" class="form-control" id="guardName" placeholder="guardName" required>

        <div class="d-flex justify-content-end mt-4">
          <button type="button" name="button" class="btn btn-light m-0">Cancel</button>
          <button type="submit" name="button" class="btn bg-gradient-info m-0 ms-2">Create Permission</button>
        </div>
      </form>
    </div>
  </div>
</div>


<script src="/public/assets/js/plugins/choices.min.js"></script>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    if (document.querySelector('.datetimepicker')) {
      flatpickr('.datetimepicker', {
        allowInput: true
      });
    }

    const choiceElements = document.querySelectorAll('.choices-multiple-remove-button');
    choiceElements.forEach(element => {
      new Choices(element, {
        removeItemButton: true
      });
    });
  });
</script>