<div class="row">
  <div class="col-lg-9 col-12 mx-auto">
    <div class="card card-body mt-4">
      <form action="/employee/add" method="POST">
        <h6 class="mb-0">New Employee</h6>
        <p class="text-sm mb-0">Create new Employee</p>
        <hr class="horizontal dark my-3">
        <label for="projectName" class="form-label">Name</label>
        <input type="text" name="name" class="form-control" id="" placeholder="Name" required>

        <label for="projectName" class="form-label">Address</label>
        <textarea name="address" id="" class="form-control" placeholder="Address" required></textarea>

        <div class="row">
          <div class="col-6">
            <label class="form-label">Email</label>
            <input class="form-control" name="email" type="email" placeholder="Please input email" required>
          </div>
          <div class="col-6">
            <label class="form-label">Phone</label>
            <input class="form-control" name="phone" type="text" placeholder="Please input phone" required>
          </div>
        </div>

        <label class="mt-4 form-label">Position</label>
        <input class="form-control" name="position" type="text" placeholder="Please input position" required>

        <label class="mt-4 form-label">Departemen</label>
        <select class="form-control" name="department" id="">
          <% departments.forEach(department => { %>
          <option value="<%= department._id %>"><%= department.name %></option>
          <% }) %>
        </select>

        <div class="row">
          <div class="col-6">
            <label class="form-label">Birthday</label>
            <input class="form-control datetimepicker" name="birth" type="date" placeholder="Please select birthday date" data-input required>
          </div>
          <div class="col-6">
            <label class="form-label">Gender</label>
            <select class="form-control" name="gender" id="choices-multiple-remove-button">
              <option value="male">Male</option>
              <option value="female">Female</option>
            </select>
          </div>
        </div>

        <div class="row">
          <div class="col-6">
            <label class="form-label">Salary</label>
            <input class="form-control" name="salary" type="number" placeholder="Salary" required>
          </div>
          <div class="col-6">
            <label class="form-label">Hire Date</label>
            <input class="form-control datetimepicker" name="hiredate" type="date" placeholder="Please select start date" data-input required>
          </div>
        </div>
        <div class="d-flex justify-content-end mt-4">
          <button type="button" name="button" class="btn btn-light m-0">Cancel</button>
          <button type="submit" name="button" class="btn bg-gradient-primary m-0 ms-2">Create Employee</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script src="https://cdn.ckeditor.com/4.16.2/standard/ckeditor.js"></script>
<script src="/public/assets/js/plugins/choices.min.js"></script>
<script src="/public/assets/js/plugins/quill.min.js"></script>
<script src="/public/assets/js/plugins/flatpickr.min.js"></script>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    if (document.querySelector('.datetimepicker')) {
      flatpickr('.datetimepicker', {
        allowInput: true
      });
    }
  });
</script>
<script>
  CKEDITOR.replace('content');
</script>